#about {
    background-color: var(--dusty);
    margin-bottom: 0;
}
#profile-pic {
    text-align: center;
    align-self: center;
    padding: 2rem;
    
}
#profile-pic img{
    border-radius: 25px;
    height: 50vh;
    border: .75rem double var(--morningblue);
    padding: .1rem;
    
}
#about-text{
    margin: auto;
    padding: 3rem 5rem 3rem 0;
    color: white;
    
}
#about h3{
    color: var(--pink);
    text-shadow: 2px 1px var(--lavender);
}
#about-text h5{
    font-size: 1.1rem;
}