#about {
    background-color: var(--dusty);
    margin-bottom: 0;
}
#profile-pic {
    text-align: center;
    align-self: center;
    padding: 2rem;
}
#profile-pic img{
    border-radius: 25px;
    height: 50vh;
    
    
}
#about-text{
    margin: auto;
    padding-right: 5rem;
    padding-bottom: 3rem;
    color: white;
    
}
#about h3{
    color: var(--pink);
    text-shadow: 2px 1px var(--lavender);
}
#about-text h5{
    font-size: 1.1rem;
}