body{
    background-color: var(--jungle)
}
#lower-content-background{
    background-image: url(../assets/leaves-0n-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.carouselIMG{
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}
#travelCarousel{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}