body{
    background-color: var(--jungle);
    font-family: var(--font1);
}
#lower-content-background{
    background-image: url(../assets/leaves-0n-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
