#contact {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: var(--dusty);
    border: solid .1rem var(--jungle);
    padding: 1rem;
    text-align: center;
    
}
#contact h3{
    color: var(--pink);
    text-shadow: 2px 1px var(--lavender);
}

#form-spree-form{
    width: 30vw;
    padding-left: 8vw;
    padding-top: 2rem;
    color: white;
}
.form-spree{
    background-color: var(--lavender);
    border: 2px var(--lavender) solid;
    border-radius: 7px;
    width: 29vw;
}
.form-spree:focus{
    border: 2px solid var(--jungle);
}
#form-spree-form>button{
    margin-left: 30%;
}
#form-spree-form>label{
    color: white;
}
.contact-linkedin{
    color: var(--white);
}
.contact-linkedin:hover{
    color: var(--pink);
}

