/* width */
::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--jungle);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--fieldgrau1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:var(--morningblue);
  }