:root {
    --dusty: #5c4e5f;
    --pink: #e77e9b;
    --lavender: #c6bcc8;
    --ashgray: #ccdbd4;
    --morningblue: #7fa493;
    --fieldgrau1: #5d6f66;
    --jungle: #232f2b;
    --font1: 'Quicksand', sans-serif;
    --font2: 'Open Sans', sans-serif;
}